# API Configuration
FLASK_APP=
FLASK_ENV=
FLASK_PORT=
JWT_SECRET_KEY=
JWT_EXPIRATION_MINUTES=  
PYTHONPATH=

# MYSQL Database Configuration (para sua API)
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# MYSQL Container Configuration (necessário para o container MySQL)
MYSQL_HOST=
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=